$color: #ccc;
$colorS: #ccc;
$colorT: #ccc;

@import "_glyphicon-font";

@mixin media($size){
	@media screen and (max-width : $size){
		@content;
	}
}

body{
	background: #fff;
	font-size: 15px;
	margin: 30px;
	@include media(320px){
		background: #ccc;
	}
}

.l-header{
	font-size: 1em;
	display: flex;
	padding: 5px;
	box-shadow: 0 0 3px #ccc;

	.list{
		list-style: none;
		box-sizing: border-box;
		padding: 5px;
		@include media(320px){
			background: #ccc;
			padding: 2px;
		}

		a{
			text-decoration: none;

			&.is-active{
				color: red;
			}
		}
	}
}